.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  padding: 20px;

  h2, p {
    width: 100%;
    max-width: 360px;
    margin: 7px;
    text-align: left;
  }

  .email {
    text-decoration: underline;
    margin-bottom: 17px;
  }

  .down {
    text-align: center;
    font-size: 1.7rem;
  }

  .skills {
    margin: 0px;
    color: rgb(128, 128, 128);
  }
}

.profilePic {
  .profilePicImage {
    border-radius: 100%;
  }
}

@media only screen and (max-width: 900px) {
  .work {
    height: 100%;
    
    .cardContainer {
      flex-direction: column;
  
      div {
        min-width: 250px!important;
        max-width: 80%;
      }
    }
  }
}